<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tipus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding ion-text-center ion-text-uppercase type" *ngFor="let type of allTypes;" [routerLink]="['/tipus', type.name]" [ngStyle]="tipusColor(type.name)">
    <ion-card-header>
      <ion-card-title>{{type.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
