<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Location: {{location_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="ion-padding ion-text-center ion-text-uppercase" *ngFor="let area of locationAreas;" [routerLink]="[base_url, area.name]">
    <ion-card-header>
      <ion-card-title>{{area.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
