<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Area: {{area_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngFor = "let pokemon of areaPokemons;" [routerLink]="['/poke-view', pokemon.id]" class="no-padding">
    <ion-card-header>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
              <ion-img [src]="pokemon.sprites.other.home.front_default"></ion-img>
          </ion-col>
          <ion-col>
            <ion-card-subtitle>N.º {{pokemon.id}}</ion-card-subtitle>
            <ion-card-title class="ion-text-uppercase">{{pokemon.name}}</ion-card-title>
            <ion-text *ngFor="let tipus of pokemon.types"></ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-start">
          <ion-col size="4" *ngFor="let tipus of pokemon.types" class="type ion-text-capitalize ion-text-center ion-padding-horizontal" [ngStyle]="tipusColor(tipus)">
            {{tipus.type.name}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>
