<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Area: {{area_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="ion-padding" *ngFor = "let pokemon of areaPokemons;">
    <ion-card-header>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <ion-img [src]="pokemon.sprites.front_default"></ion-img>
          </ion-col>
          <ion-col >
            <ion-card-title class="ion-text-uppercase">{{pokemon.name}}</ion-card-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>
