<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Aquest es el teu equip!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button (click)="crearFitxer()">Si apretes es crearà el fitxer en els teus documents del movil</ion-button>
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemonTeam" class="item ion-text-capitalize" [routerLink]="['/poke-view', pokemon.id]" lines="none">
      <img [src]="pokemon.sprites.other.showdown.front_default">
      <ion-grid>
        <ion-row class="ion-text-capitalize">
          {{pokemon.name}}
        </ion-row>
        <ion-row>
          <ion-col size="4" *ngFor="let tipus of pokemon.types"
            class="type ion-text-capitalize ion-text-center ion-padding-horizontal" [ngStyle]="tipusColor(tipus)">
            {{tipus.type.name}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>


  <div *ngIf="pokemon && visible">
    <ion-text class="ion-text-center ion-text-uppercase">
      <h1 class="ion-no-margin">{{pokemon.name}}</h1>
      <h2 class="ion-no-margin" color="ion-warning">#{{pokemon.id}}</h2>
    </ion-text>

    <ion-img [src]="pokemon.imgURL"></ion-img>

    <div class="ion-margin-start">
      <ion-text>
        <h2>Tipus</h2>
      </ion-text>
      <ion-grid class="ion-margin-bottom">
        <ion-col class="type {{tipus}} ion-margin-end ion-text-capitalize ion-text-center ion-padding-horizontal" *ngFor = "let tipus of pokemon.types;" [routerLink]="['/tipus', tipus]">
          {{tipus}}
        </ion-col>
      </ion-grid>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click) = "acceptarPokemon();">Acceptar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click) = "denegarPokemon();">Denegar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>