<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Aquest es el teu equip!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngIf = "isSixPokemons || alerta" color="danger" class="ion-padding">
    <ion-text>
      <h6>
        El teu equip ja està complet. El límit són 6! No pots afegir més pokemons.
      </h6>
    </ion-text>
    <ion-button (click) = "tancarAlerta();">TANCAR</ion-button>
  </ion-card>

  <ion-list *ngIf="!confirmar">
    <ion-item *ngFor="let pokemon of pokemonTeam" class="item ion-text-capitalize" lines="none">
      <img [src]="pokemon.sprites.other.showdown.front_default" [routerLink]="['/poke-view', pokemon.id]">
      <ion-grid [routerLink]="['/poke-view', pokemon.id]">
        <ion-row class="ion-text-capitalize">
          {{pokemon.name}}
        </ion-row>
        <ion-row>
          <ion-col size="4" *ngFor="let tipus of pokemon.types"
            class="type {{tipus.type.name}} ion-text-capitalize ion-text-center ion-padding-horizontal">
            {{tipus.type.name}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button color="danger" (click) = "eliminarPokemon(pokemon.id);">X</ion-button>
    </ion-item>
  </ion-list>


  <div *ngIf="pokemon && confirmar">
    <ion-text class="ion-text-center ion-text-uppercase">
      <h1 class="ion-no-margin">{{pokemon.name}}</h1>
      <h2 class="ion-no-margin" color="ion-warning">#{{pokemon.id}}</h2>
    </ion-text>

    <ion-img [src]="pokemon.imgURL"></ion-img>

    <div class="ion-margin-start">
      <ion-text>
        <h2>Tipus</h2>
      </ion-text>
      <ion-grid class="ion-margin-bottom">
        <ion-col class="type {{tipus}} ion-margin-end ion-text-capitalize ion-text-center ion-padding-horizontal" *ngFor = "let tipus of pokemon.types;" [routerLink]="['/tipus', tipus]">
          {{tipus}}
        </ion-col>
      </ion-grid>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click) = "acceptarPokemon();" color="success">Acceptar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click) = "denegarPokemon();" color="danger">Denegar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>